body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #522b1c;
    background-image: url(https://img.freepik.com/free-photo/education-day-arrangement-table-with-copy-space_23-2148721266.jpg?w=826&t=st=1725736977~exp=1725737577~hmac=a2c77712aa7933438c4fd5d7299113eb447b52513afd9eac7ac918ad0c90e163);
  }
  
  .container {
    width: 60%;
    margin: auto;
    background-color:;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(25, 25, 25, 0.1);
    margin-bottom: 20px;
  }
  
  form input, form textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: bisque;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #22fa58;
  }
  
  #resume {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  